@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap');

body{
    color: rgb(122, 120, 120);
    font-family: 'Space Mono', monospace;
    background-color: rgb(163, 215, 215);
}
.text{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 2rem;
    color: hsl(183, 100%, 15%);;
}
.main{
    width:60%;
    display: flex;
    flex-direction: row;
    gap: 5rem;
    background-color: white;
    align-items: center;
    justify-content: center;
    margin-left: 15rem;
    padding-bottom: 20px;
    padding-top: 20px;
    border-radius: 15px;
}
.dollar{
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 100%;
    gap: 80%;
    height: 30px;
    border-radius: 3px;
    border: 1px;
    background-color: rgb(190, 219, 228);
    margin-top: -15px;
}
.person{
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 90%;
    gap: 90%;
    height: 30px;
    border-radius: 3px;
    border: 1px;
    background-color: rgb(198, 233, 243);
    margin-top: -15px;
}
.box{
    display: flex;
    flex-direction:row;
    gap: 10px;
}
.box button{
    border-radius: 5px;
    border: 1px;
    padding: 5px;
    width: 100%;
    color: white;
    background-color: hsl(183, 100%, 15%);
}
#content{
    margin-left: 5rem;
    width: 40%;
}
#rate{
   border-radius: 15px;
   width: 50%;
   /* padding-top: 1rem;
   padding-bottom: 2rem; */
   /* background-color:hsl(184, 14%, 56%); */
   background-color: hsl(183, 100%, 15%);
   margin-right: 20px;
}
.top{
    display: flex;
    flex-direction:row;
    align-items: center;
    width: 100%;
    gap: 45%;  
}
.bottom{
        display: flex;
        flex-direction:row;
        align-items: center;
        width: 100%;
        gap: 40%; 
        margin-bottom: 3rem;
        /* margin-top:px; */
    }
  .two{
    margin-left: 15px;
    padding: 1rem;
    font-size:10px;
    color: whitesmoke;
    /* background-color: hsl(183, 100%, 15%); */ */
  }
  .two button{
    width: 80%;
    margin-left: 2rem;
    background-color:rgb(26, 188, 167);
    padding:5px;
    border-radius: 5px;
    border: 1px;
    margin-bottom: 15px;
  }
  .two h2{
    font-size: 2rem;
    color:rgb(26, 188, 167);
  }
  .box{
    display: flex;
    flex-direction: column;
  }
  .rome{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }
  .ram{
    display: flex;
    flex-direction: row;
    gap: 10px;
  }